.form-control {
    border-color: black !important;
}

.form-control:focus {
    border: 3px solid black !important;
}

.card__item {
    cursor: pointer;
}

.swiper-container {
    height: 100%;
}

.swiper-slide {
    height: 100%;
}

.card__item {
    height: 100%;
}

.card__img img {
    object-fit: cover;
    height: 30vh;
    width: 100%;
}